/* Larger than mobile */
@media screen and (max-width: 750px) {
    /* Header  sama dengan style.css*/
    /* Site Menu */

    .site-menu {
        top: 100px;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        z-index: 3;
        background-size: auto 80px
    }
    .site-menu .menu ul > li {
        display: block !important;
    }
    .site-menu .menu {
        position: static;
        float: none ;

    }
    .site-menu .container {
        width: 100% !important;
        padding: 0px !important;
    }
    .site-menu .hamburger{
        position: relative;
        left: 11%;
        bottom: 17px;
        width: 50%;
    }
    .menu{
        font-size:0.8em;
        width:100%;
        background:gray;
        position:relative;
        background-position:center;
        background-size : 150%;
        text-align:center;
        z-index: 4;
    }
    .menu ul {
        margin: 0;
        padding: 0px 28px;
        list-style-type: none;
        list-style-image: none;
    }
    .menu li {
        display: block;
        padding:15px 0 15px 0;
        border-bottom:#1d1f20 1px solid;
    }
    .menu li:hover{
        display: block;
        background:#181818;
        padding:15px 0 15px 0;
        border-bottom:#1d1f20 1px solid;
    }
    .menu ul li a {
        text-decoration:none;
        margin: 0px;
        color:#fff;
    }
    .menu ul li a:hover {
        color: #fff;
        text-decoration:none;
    }
    .menu a{
        text-decoration:none;
        color:white;
    }
    .menu a:hover{
        text-decoration:none;
        color:white;
    }

    .site-menu .logo {
        visibility: hidden;
        position: fixed;
    }

    .site-menu .logo2 {
        display: inline-block !important;
        float: none;
        width: 40px;
        position: relative;
        top : -5px;
    }
    .site-menu a{
        display: inline-block ;
        position: relative;
        top: 15px;
        left: 15px;
        padding-bottom: 0px;
        }
    .site-menu .closebtn {
        position: relative;
        top: 15px;
        font-size: 38px;
        visibility: visible;
    }

    .site-menu span{
        visibility: visible;
        position: relative;
    }
    /* Content */

    .content {
        height: 450px;
    }

    /* opening */

    /*bab1*/
    #bab1 .six{
        width: 100% !important;
    }
    #bab1 {
        background-repeat: repeat-y;
        height: auto;
    }
    /*syarat*/

    .vr{
        display: none;
    }

    #syarat {
        padding: 10px 0;
    }
    #syarat .three {
        display: none;
    }
    #syarat .eight{
        width: auto;
    }

    .bgsyarat {
        background-size: cover;
    }

    /*bab2*/
    #bab2 {
        background-repeat: repeat-y;
    }
    #bab2 .four{
        width: 100%;
        margin-left: 0px;
        margin-top: 5%;
        background-color: rgb(0,0,0,0);
    }
    #bab2 .tengah{
        height:auto;
        border-radius: 5px;
        background-color:#786F66;
        display: inline-block;
        width: 180px;
    }

    #bab2 h2{
        font-size: 38px;
    }

    #bab2 img {
        width: 85%;
    }
    /*bab3*/
    #bab3 {
        background-repeat: repeat-y;
    }
    /*penutup */

        #penutup .bullet {
            width: 100%;
        }

        #penutup img{
            width: 50px;
        }

        #penutup .gambar {

            width: 100%;
            left: 0px;

        }

        #penutup .columns {
            width: 100% !important;
            margin-left: 0px !important;
        }

        #bab1 .container {
            padding: 29px 0px 0px 0px !important
         }


    /*form*/

    .vr2{
        width:1px;
        background-color:white;
        position: absolute;
        top:0;
        bottom:0;
        height: auto;
        left: 1px;
        margin: 0 0px
    }

    #gab .kiri {
        display: none;
    }

    #gab .six {
        width: 100%;
    }

    /*regeistrasi sukses*/

.lass {
    background-repeat: no-repeat;
    background-size: 1070px auto;
    background-position: center 0px;
}
#opening2 img{
    width: 293px;
}
